################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Unity/KSLudumDare48/Library
/.vs
/Unity/KSLudumDare48/Temp
/Unity/KSLudumDare48/obj/Debug
/Unity/KSLudumDare48/.vsconfig
/Unity/KSLudumDare48/.vs/KSLudumDare48/v16
